RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Protect .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Protect vendor directory
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule> 